.ic-face:before {
    content: 'face';
}

.ic-dashboard:before {
    content: 'dashboard';
    margin-right: 20px;
}

.ic-bookmarks:before {
    content: 'bookmarks';
    margin-right: 20px;
}

.ic-settings:before {
    content: 'settings';
    margin-right: 20px;
}

.ic-performance:before {
    content: 'show_chart';
    margin-right: 20px;
}

.ic-alarm:before {
    content: 'alarm';
    margin-right: 20px;
}

.ic-home:before {
    content: 'home';
}

.ic-exit:before {
    content: 'exit_to_app';
}

.ic-dns:before {
    content: 'dns';
}

.ic-info:before {
    content: 'info';
}

.ic-delete:before {
    content: 'delete';
}

.ic-edit:before {
    content: 'edit';
}

.ic-select-all:before {
    content: 'select_all';
}

.ic-file-copy:before {
    content: 'file_copy';
}

.ic-developer-board:before {
    content: 'developer_board';
}

.ic-device-hub:before {
    content: 'device_hub';
}

.ic-people:before {
    content: 'people_outline';
}

.ic-group:before {
    content: 'group';
}

.error:before {
    content: 'error';
}

.options {
    padding: 20px;
    /*background-color: rgba(191, 191, 191, 0.15);*/
    border: 1px solid #bbbbbb;
    margin-top: 20px;
}

.option {
    margin-top: 10px;
}

.caption {
    font-size: 18px;
    font-weight: 500;
}

.option > span {
    margin-right: 10px;
}

.option > .dx-widget {
    display: inline-block;
    vertical-align: middle;
}

#chart {
    width: 100%;
    height: 70%;
}