.app {
  @import "./themes/generated/variables.base.scss";
  background-color: darken($base-bg, 5.00);
  display: flex;
  height: 100%;
  width: 100%;
}

.app .content {
  line-height: 1.5;

  h2 {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.app .content-block {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 20px;
}

.screen-x-small .content-block {
  margin-left: 20px;
  margin-right: 20px;
}

.responsive-paddings {
  padding: 20px;

  .screen-large & {
    padding: 40px;
  }
}

.dx-card.wide-card {
  border-radius: 0;
  margin-left: 0;
  margin-right: 0;
  border-right: 0;
  border-left: 0;
}

.with-footer > .dx-scrollable-wrapper >
.dx-scrollable-container > .dx-scrollable-content {
  height: 100%;

  & > .dx-scrollview-content {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }
}

$side-panel-min-width: 60px;

html, body {
  margin: 0px;
  min-height: 100%;
  height: 100%;
}

#root {
  height: 100%;
}

* {
  box-sizing: border-box;
}

.ic-user:before {
  content: 'person';
}

.ic-group:before {
  content: 'group';
}

.ic-profile:before {
  content: 'assignment_ind';
}

.ic-dashboard:before {
  content: 'dashboard';
}

.ic-step-executions:before {
  content: 'ballot';
}

.ic-performance:before {
  content: 'show_chart';
}

.ic-description:before {
  content: 'description';
}

.ic-alarm:before {
  content: 'alarm';
}

.ic-jobdefinition:before {
  content: 'settings_input_hdmi';
}

.ic-jobgroup:before {
  content: 'settings_input_component';
}

.ic-agent:before {
  content: 'bookmark_border'
}

.ic-agents:before {
  content: 'bookmarks'
}

.ic-logs:before {
  content: 'assignment'
}

.ic-folder:before {
  content: 'folder'
}