.ic-refresh:before {
  content: 'refresh';
}

.ic-edit:before {
  content: 'edit';
}

.ic-delete:before {
  content: 'delete';
}

.ic-copy:before {
  content: 'file_copy';
}

.ic-import:before {
  content: 'arrow_circle_down'
}

.ic-export:before {
  content: 'arrow_circle_up'
}

.ic-upload:before {
  content: 'cloud_upload'
}