.app {
  @import "./themes/generated/variables.base.scss";
  background-color: darken($base-bg, 5.00);
  display: flex;
  height: 100%;
  width: 100%;
}

.app .content {
  line-height: 1.5;

  h2 {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.app .content-block {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 20px;
}

.screen-x-small .content-block {
  margin-left: 20px;
  margin-right: 20px;
}

.responsive-paddings {
  padding: 20px;

  .screen-large & {
    padding: 40px;
  }
}

.dx-card.wide-card {
  border-radius: 0;
  margin-left: 0;
  margin-right: 0;
  border-right: 0;
  border-left: 0;
}

.with-footer > .dx-scrollable-wrapper >
.dx-scrollable-container > .dx-scrollable-content {
  height: 100%;

  & > .dx-scrollview-content {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }
}

$side-panel-min-width: 60px;

html, body {
  margin: 0px;
  min-height: 100%;
  height: 100%;
}

#root {
  height: 100%;
}

* {
  box-sizing: border-box;
}

.ic-user:before {
  content: 'person';
}

.ic-group:before {
  content: 'group';
}

.ic-profile:before {
  content: 'assignment_ind';
}

.ic-dashboard:before {
  content: 'dashboard';
}

.ic-bookmarks:before {
  content: 'bookmarks';
}

.ic-performance:before {
  content: 'show_chart';
}

.ic-description:before {
  content: 'description';
}

.ic-alarm:before {
  content: 'alarm';
}

.ic-jobdefinition:before {
  content: 'settings_input_hdmi';
}

.ic-agent:before {
  content: url('data:image/svg+xml;utf-8,<svg class="icon" width="18" height="18" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M512 128C397.226667 128 316.16 180.053333 316.16 180.053333L256 384h512l-60.16-203.946667S626.773333 128 512 128m0 341.333333c-116.48 0-282.026667 23.04-293.12 25.173334-44.373333 11.946667-80.213333 23.893333-108.373333 34.986666C67.413333 544 42.666667 554.666667 42.666667 554.666667h938.666666s-24.746667-10.666667-67.84-25.173334c-28.16-11.093333-64.853333-23.04-109.653333-34.986666 0 0-171.52-25.173333-291.84-25.173334m-192 128A149.333333 149.333333 0 0 0 170.666667 746.666667 149.333333 149.333333 0 0 0 320 896a149.333333 149.333333 0 0 0 149.333333-149.333333c0-6.826667 0-13.653333-1.28-20.053334 13.653333-2.986667 28.16-5.546667 43.946667-5.12 15.786667 0 30.293333 2.133333 43.946667 5.12-1.28 6.4-1.28 13.226667-1.28 20.053334a149.333333 149.333333 0 0 0 149.333333 149.333333 149.333333 149.333333 0 0 0 149.333333-149.333333 149.333333 149.333333 0 0 0-149.333333-149.333334c-62.72 0-116.48 38.4-138.666667 93.44-13.653333-4.266667-29.866667-8.106667-53.333333-8.106666s-39.68 3.84-53.333333 8.106666A149.248 149.248 0 0 0 320 597.333333m0 42.666667a106.666667 106.666667 0 0 1 106.666667 106.666667A106.666667 106.666667 0 0 1 320 853.333333 106.666667 106.666667 0 0 1 213.333333 746.666667 106.666667 106.666667 0 0 1 320 640m384 0a106.666667 106.666667 0 0 1 106.666667 106.666667 106.666667 106.666667 0 0 1-106.666667 106.666666 106.666667 106.666667 0 0 1-106.666667-106.666666 106.666667 106.666667 0 0 1 106.666667-106.666667z" fill="" /></svg>')
}