.ic-edit:before {
  content: 'edit';
}

.ic-delete:before {
  content: 'delete';
}

.ic-pause:before {
  content: 'pause';
}

.ic-start:before {
  content: 'start';
}

.ic-stop:before {
  content: 'stop';
}