.ic-edit:before {
  content: 'edit';
}

.ic-restart:before {
  content: 'start';
}

.ic-delete:before {
  content: 'delete';
}

.ic-refresh:before {
  content: 'refresh';
}

.dx-dropdowneditor-overlay .dx-overlay-content {
  min-width: 200px;
}